@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --primary-color: #00b4d8;
  --off-white: #f5f5f5;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

.navigation {
  background: var(--primary-color);
  padding: 1rem 2rem;
  font-size: x-large;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.link-container-button {
  font-size: large;
  text-decoration: none;
  color: white;
}

.list-item-container {
  display: inline;
  padding: 3rem;
  font-weight: bold;
}

.ul-nav-pills {
  text-align: right;
  font-size: large;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 0px;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

h1 {
  color: gray;
  text-align: center;
}

.highlight {
  color: var(--primary-color);
}

.intro-section {
  font-size: large;

}

.container {
  max-width: 600px;
  margin: auto;
}
.section-class {
  font-size: large ;
  background-color: var(--off-white)
}

table{
  align-content: center;
  padding-bottom: 2rem;


}
.edu-header
{ padding-top: 1rem;
  text-align: center;
  color : var(--primary-color)


}
th{font-size: x-large;
  color: gray;
  padding: 4rem;
}
.section-hobbies {
  font-size: large;
}
.hobbies-ul {
  padding: 1rem;
}
.hobbies-heading{ padding-bottom: 1rem;
  font-size: x-large;
  text-align: center;
  color: var(--primary-color)

}
.hobbies-list-item{

}

.footer-li { font-size: large;
text-align: center;
  display: inline;

}
.footer {text-align: center;
  font-size: large;
  color: white;
  padding : 2rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--primary-color)



}
.footer-links {
  text-decoration: none;
  color: white;
  padding: 2rem;
}
.footer-heading {
  color: black;
margin: 0px;
  padding-top: 0rem;
}
